@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Fredericka+the+Great & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Raleway:wght@200 & display=swap');

body {
    background-color: #27573f;
    font-family: 'Frederika, o Grande', cursive;
    font-size: 19pt;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.295);
}

.button {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    background-color: rgba(36, 63, 34, 0.836);
    box-shadow: 3px 3px 10px #00000038;
    border-radius: 5px;
    padding: 2px 5px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

.button:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}